
* {
    background-color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    background-color: gray;
    height:960px;
    width: 960px;
    padding: 10px
}

#container > div {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    background-color: gray;
    justify-content: center;
    
}

#container > div  > div {
    /* display: flex; */
    
    /* border: 1px solid black; */
    height: auto;
    width: auto;
    padding: clamp(1px, 3px, 15px);
    /* max-width: 9px; */
    /* max-height: 9px; */
}